asciinema/*
jgit/*
vim/*
sbt/gpg
zshrc.local
sbt/ghpages
sbt/*/dependency/
sbt/launchers/
sbt/cache/
sbt/repositories
sbt/0.13/templates
sbt/0.13/java9*
/configstore
local
nvim/plugin/packer_compiled.lua
helix/runtime
